# Files to ignore
*.pyc
.coverage
.DS_Store
profile.html
profile.json
*.doctree
*.pickle
*.html

# Tool build directories
__pycache__
.mypy_cache
.nox
.pytest_cache

# Folders to ignore
save

# Sphinx build files
docs/build
docs/source/_static/pdocs
docs/source/pages/api
