# Files to ignore
*.pyc
.coverage
.DS_Store
profile.html
profile.json
*.doctree
*.pickle

# Folders to ignore
__pycache__
.mypy_cache
.nox
.pytest_cache
docs/source/pages/api
docs/source/_static
html
save
